In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("diamonds.csv", index_col = 0)
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

In [7]:
num=int(len(data)*0.8)
num

43152

In [12]:
data=data[0:num]
data

       carat        cut color clarity  depth  table  price     x     y     z
1       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
43148   0.52  Very Good     E     SI1   62.7   57.0   1389  5.10  5.14  3.21
43149   0.33      Ideal     F      IF   62.1   56.0   1389  4.41  4.44  2.75
43150   0.56       Fair     E     SI2   64.5   61.0   1389  5.18  5.14  3.33
43151   0.58      Ideal     H     SI1   61.9   59.0   1389  5.33  5.36  3.31
43152   0.52      Ideal     G     SI1   61.3   55.0   1389  5.20  5.24  3.20

[43152 rows x 10 columns]

In [13]:
data=data.sort_values(by='price' ,ascending=False)[:100]
data

       carat        cut color clarity  depth  table  price     x     y     z
27750   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27749   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27748   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27747   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27746   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27625   2.38    Premium     H     VS1   60.9   59.0  18522  8.62  8.59  5.24
27624   2.00       Fair     G     VS2   67.6   58.0  18515  7.65  7.61  5.16
27623   2.09  Very Good     F     SI2   61.3   59.0  18509  8.19  8.33  5.06
27622   2.37      Ideal     J     SI1   61.9   55.0  18508  8.53  8.56  5.29
27621   2.32  Very Good     H     SI2   60.6   58.0  18508  8.56  8.60  5.20

[100 rows x 10 columns]

In [14]:
np.mean(data['price'])

18663.33