In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("marvel-wikia-data.csv", index_col=0)
data.head()

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
page_id,,,,,,,,,,,,
1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16376 entries, 1678 to 673702
Data columns (total 12 columns):
name                16376 non-null object
urlslug             16376 non-null object
ID                  12606 non-null object
ALIGN               13564 non-null object
EYE                 6609 non-null object
HAIR                12112 non-null object
SEX                 15522 non-null object
GSM                 90 non-null object
ALIVE               16373 non-null object
APPEARANCES         15280 non-null float64
FIRST APPEARANCE    15561 non-null object
Year                15561 non-null float64
dtypes: float64(2), object(10)
memory usage: 1.6+ MB

In [4]:
data['HAIR'].value_counts()

Black Hair               3755
Brown Hair               2339
Blond Hair               1582
No Hair                  1176
Bald                      838
White Hair                754
Red Hair                  620
Grey Hair                 531
Green Hair                117
Auburn Hair                78
Blue Hair                  56
Strawberry Blond Hair      47
Purple Hair                47
Orange Hair                43
Variable Hair              32
Pink Hair                  31
Yellow Hair                20
Silver Hair                16
Gold Hair                   8
Reddish Blond Hair          6
Light Brown Hair            6
Magenta Hair                5
Orange-brown Hair           3
Dyed Hair                   1
Bronze Hair                 1
Name: HAIR, dtype: int64

In [5]:
data['EYE'].value_counts()

Blue Eyes          1962
Brown Eyes         1924
Green Eyes          613
Black Eyes          555
Red Eyes            508
White Eyes          400
Yellow Eyes         256
Grey Eyes            95
Hazel Eyes           76
Variable Eyes        49
Purple Eyes          31
Orange Eyes          25
Pink Eyes            21
One Eye              21
Gold Eyes            14
Silver Eyes          12
Violet Eyes          11
Amber Eyes           10
No Eyes               7
Multiple Eyes         7
Yellow Eyeballs       6
Black Eyeballs        3
Magenta Eyes          2
Compound Eyes         1
Name: EYE, dtype: int64

In [6]:
train=data[(data['HAIR']=='Brown Hair') & (data['EYE']=='Brown Eyes')]
train

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
page_id,,,,,,,,,,,,
2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2072.0,Nov-61,1961.0
1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1962.0
29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1963.0
35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1963.0
1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1137.0,May-63,1963.0
...,...,...,...,...,...,...,...,...,...,...,...,...
307046,Rhino (Kraven) (Earth-616),\/Rhino_(Kraven)_(Earth-616),Secret Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,NaN,Mar-10,2010.0
524999,Robert Bruce Banner (Doom's clone) (Earth-616),\/Robert_Bruce_Banner_(Doom%27s_clone)_(Earth-...,Public Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,NaN,Dec-11,2011.0
514532,Aquarius (Thanos' Zodiac) (Earth-616),\/Aquarius_(Thanos%27_Zodiac)_(Earth-616),Secret Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,NaN,May-12,2012.0
495713,Faradei (Earth-616),\/Faradei_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
42866,Terry Raymond (Earth-616),\/Terry_Raymond_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [7]:
mean=np.mean(train['APPEARANCES'])
mean

41.075235109717866

In [8]:
std=np.std(train['APPEARANCES'])
std

167.35040289489254

In [9]:
lower_bound=mean-1.5*std
lower_bound

-209.95036923262091

In [10]:
upper_bound=mean+1.5*std
upper_bound

292.1008394520567

In [14]:
train_filter=train[(train['APPEARANCES']>lower_bound) & (train['APPEARANCES']<upper_bound)]
train_filter

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
page_id,,,,,,,,,,,,
4565,Abner Jenkins (Earth-616),\/Abner_Jenkins_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,284.0,Aug-64,1964.0
1733,Gorgon (Earth-616),\/Gorgon_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,272.0,Nov-65,1965.0
37689,James Madrox (Earth-616),\/James_Madrox_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,271.0,Feb-75,1975.0
2038,Lockjaw (Earth-616),\/Lockjaw_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,255.0,Dec-65,1965.0
2351,Aleksei Sytsevich (Earth-616),\/Aleksei_Sytsevich_(Earth-616),Secret Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,239.0,Oct-66,1966.0
...,...,...,...,...,...,...,...,...,...,...,...,...
724109,Gregory Sale (Earth-616),\/Gregory_Sale_(Earth-616),No Dual Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1.0,NaN,NaN
655940,Jaime Maldonado (Earth-616),\/Jaime_Maldonado_(Earth-616),No Dual Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1.0,NaN,NaN
713984,Jourr (Earth-616),\/Jourr_(Earth-616),No Dual Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
723130,Lynx (Princess) (Earth-616),\/Lynx_(Princess)_(Earth-616),No Dual Identity,Good Characters,Brown Eyes,Brown Hair,Female Characters,NaN,Living Characters,1.0,NaN,NaN
686311,Pandora Peters (Earth-616),\/Pandora_Peters_(Earth-616),No Dual Identity,Good Characters,Brown Eyes,Brown Hair,Female Characters,NaN,Living Characters,1.0,NaN,NaN

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 655 entries, 2166 to 42866
Data columns (total 12 columns):
name                655 non-null object
urlslug             655 non-null object
ID                  585 non-null object
ALIGN               581 non-null object
EYE                 655 non-null object
HAIR                655 non-null object
SEX                 654 non-null object
GSM                 12 non-null object
ALIVE               655 non-null object
APPEARANCES         638 non-null float64
FIRST APPEARANCE    620 non-null object
Year                620 non-null float64
dtypes: float64(2), object(10)
memory usage: 66.5+ KB

In [15]:
print(np.mean(train_filter['APPEARANCES']))

20.520064205457462